<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0" />
		<title>eBook 📖</title>
		{% block CSS %}
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='css/styles.css') }}" />
		<link
			rel="shortcut icon"
			href="{{ url_for('static', filename='icons/favicon.ico') }}" />
		{% endblock %}
	</head>
	<body>
		{% include 'layouts/header.html' %}
		<main class="container">{% block content %}{% endblock %}</main>
		{% include 'layouts/footer.html' %}
	</body>
</html>
