{% block content %}
<footer class="mt-4 py-3 bg-primary text-white">
	<ul class="nav justify-content-center border-bottom pb-3 mb-3">
		<li class="nav-item">
			<a
				href="#"
				class="nav-link px-2 text-white"
				>Home</a
			>
		</li>
		<li class="nav-item">
			<a
				href="#"
				class="nav-link px-2 text-white"
				>Features</a
			>
		</li>
		<li class="nav-item">
			<a
				href="#"
				class="nav-link px-2 text-white"
				>Pricing</a
			>
		</li>
		<li class="nav-item">
			<a
				href="#"
				class="nav-link px-2 text-white"
				>FAQs</a
			>
		</li>
		<li class="nav-item">
			<a
				href="#"
				class="nav-link px-2 text-white"
				>About</a
			>
		</li>
	</ul>
	<p class="text-center">
		&copy; <span id="year"></span>
		<a
			class="text-white"
			target="_blank"
			href="https://github.com/ZinF10"
			>ZIN</a
		>
		Company, Inc
	</p>

	<script>
		document.getElementById('year').textContent = new Date().getFullYear();
	</script>
</footer>
{% endblock %}
