{% extends 'layouts/base.html' %} {% block content %}
<section class="d-flex justify-content-center text-center">
	<div class="container my-2 py-4">
		<h1>About Us</h1>

		<h3><strong>eBooks: An Overview</strong></h3>
		<p class="py-2">
			An eBook, short for "electronic book," is a digital version of a traditional
			print book that can be read on electronic devices such as eReaders, tablets,
			smartphones, and computers. eBooks offer the convenience of portable
			reading, allowing users to carry and access multiple titles from a single
			device. They come in various formats, including EPUB, PDF, and MOBI, each
			optimized for different devices and reading experiences.
		</p>
		<p  class="py-2">
			One of the key benefits of eBooks is their accessibility. They can be
			downloaded instantly from online retailers or libraries, making it easy to
			acquire new reading material without leaving home. Additionally, eBooks
			often feature adjustable text sizes, customizable fonts, and built-in
			dictionaries, enhancing the reading experience for users with different
			preferences and needs.
		</p>
		<p  class="py-2">
			With the growth of digital technology, eBooks have become increasingly
			popular among readers and publishers alike, offering a flexible and
			eco-friendly alternative to traditional print books.
		</p>
	</div>
</section>
{% endblock %}
