{% extends 'layouts/base.html' %} {% block content %}
<div class="text-primary px-4 py-5 text-center">
	{% include 'includes/alert.html' %}

	<div class="py-5">
		<h1 class="display-5 fw-bold">Welcome To eBook 📖</h1>
		<div class="col-lg-6 mx-auto">
			<p class="fs-5 mb-4">
				An eBook, short for "electronic book," is a digital version of a
				traditional print book that can be read on electronic devices such
				as eReaders, tablets, smartphones, and computers. eBooks offer the
				convenience of portable reading, allowing users to carry and access
				multiple titles from a single device. They come in various formats,
				including EPUB, PDF, and MOBI, each optimized for different devices
				and reading experiences.
			</p>
			<div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
				<button
					type="button"
					class="btn btn-outline-info px-4 me-sm-3 fw-bold">
					Try Now
				</button>
				<button
					type="button"
					class="btn btn-outline-primary px-4"
					type="button"
					data-bs-toggle="collapse"
					data-bs-target="#collapse"
					aria-expanded="false"
					aria-controls="collapse">
					About us
				</button>
			</div>

			<div
				class="collapse mt-2"
				id="collapse">
				<div class="card card-body">
					Some placeholder content for the collapse component. This
					panel is hidden by default but revealed when the user
					activates the relevant trigger.
				</div>
			</div>
		</div>
	</div>
</div>

<section class="my-2 py-3">
	<h1>Lastest Books</h1>
	<hr class="dropdown-divider" />

	<section class="row my-2 g-4">
		{% for i in lastest %}
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
			<div class="card border-secondary shadow-sm">
				<a href="{{ url_for('detail', id=i.id )}}">
					<img
						src="{{ url_for('static', filename='images/' ~ i.image) }}"
						class="card-img-top"
						alt="{{ i.title }}" />
				</a>
				<div class="card-body">
					<h5 class="card-title">{{ i.title }}</h5>
					<p class="card-text">{{ i.description }}</p>
					<p class="card-text">
						<strong>Price:</strong> {{ format_price(i.price) }}
					</p>
					<a
						onclick="addToCart({{ i.id }}, '{{ i.title }}', {{ i.price }})"
						class="btn btn-outline-primary"
						>🛒</a
					>
					<a
						href="#"
						class="btn btn-outline-primary"
						>📦</a
					>
				</div>
			</div>
		</div>
		{% endfor %}
	</section>
</section>

<section class="mb-2 py-3">
	<h1 class="text-end">All Books</h1>
	<hr class="dropdown-divider" />

	<section class="row my-2 g-4">
		{% for i in books.items %}
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
			<div class="card border-secondary shadow-sm">
				<a href="{{ url_for('detail', id=i.id )}}">
					<img
						src="{{ url_for('static', filename='images/' ~ i.image) }}"
						class="card-img-top"
						alt="{{ i.title }}" />
				</a>
				<div class="card-body">
					<h5 class="card-title">{{ i.title }}</h5>
					<p class="card-text">
						{% for t in i.tags %}
						<span class="badge rounded-pill bg-primary"
							>{{ t.name }}</span
						>
						{% endfor %}
					</p>
					<p class="card-text">
						<strong>Price:</strong> {{ format_price(i.price) }}
					</p>
					<a
						onclick="addToCart({{ i.id }}, '{{ i.title }}', {{ i.price }})"
						class="btn btn-outline-primary"
						>🛒</a
					>
					<a
						href="#"
						class="btn btn-outline-primary"
						>📦</a
					>
				</div>
			</div>
		</div>
		{% endfor %}
	</section>

	<div>
		<ul class="pagination justify-content-center">
			<li class="page-item">
				<a
					class="page-link {% if not books.has_prev %}disabled{% endif %}"
					href="{{ url_for('index', page=books.prev_num) }}"
					>&laquo;</a
				>
			</li>

			{% for number in books.iter_pages() %}
			<li class="page-item">
				<a
					class="page-link {% if books.page == number %}active{% else %} {% endif %}"
					href="{{ url_for('index', page=number) }}">
					{{ number }}
				</a>
			</li>
			{% endfor %}

			<li class="page-item">
				<a
					class="page-link {% if not books.has_next %}disabled{% endif %}"
					href="{{ url_for('index', page=books.next_num) }}"
					>&raquo;</a
				>
			</li>
		</ul>
	</div>
</section>

{% endblock %}
