{% extends 'layouts/base.html' %} {% block title %} {{ current_user.full_name() }} {% endblock %} {%
block content %}
<section class="my-2 py-3">
	<h1>
		<img
			src="{{ current_user.avatar }}"
			class="img-thumbnail rounded-circle"
			alt="{{ current_user.username }}"
			height="60"
			width="60" />
		{{ current_user.username }}
	</h1>
	<hr class="dropdown-divider" />

	<section class="row my-2 g-4">
		{% include 'includes/alert.html' %}

		<div class="col-md-8">
			<table class="table table-hover text-center">
				<tbody>
					<tr>
						<th>Full Name</th>
						<td>{{ current_user.full_name() }}</td>
					</tr>
					<tr>
						<th>Email</th>
						<td>{{ current_user.email }}</td>
					</tr>
					<tr>
						<th></th>
						<td></td>
					</tr>
					<tr>
						<th></th>
						<td></td>
					</tr>
					<tr>
						<th>Last seen</th>
						<td>{{ moment(current_user.last_seen).fromNow() }}</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="col-md-4">
			<form
				method="POST"
				action="{{ url_for('change_password') }}">
				<h1 class="fw-bold text-center">Change Password</h1>

				<div class="mb-3 form-group">
					<label for="password">Old Password</label>
					<input
						type="password"
						class="form-control"
						id="password"
						name="pwd"
						aria-describedby="passwordHelpBlock"
						required />
					<small
						id="passwordHelpBlock"
						class="form-text text-muted">
						Your password must be 8-20 characters long, contain
						letters and numbers, and must not contain spaces,
						special characters, or emoji.
					</small>
				</div>
					
				<div class="mb-3 form-group">
					<label for="password">New Password</label>
					<input
						type="password"
						class="form-control"
						id="newPassword"
						name="new_pwd"
						aria-describedby="passwordHelpBlock"
						required />
					<small
						id="passwordHelpBlock"
						class="form-text text-muted">
						Your password must be 8-20 characters long, contain
						letters and numbers, and must not contain spaces,
						special characters, or emoji.
					</small>
				</div>

				<button
					type="submit"
					class="btn btn-primary">
					Change
				</button>
			</form>
		</div>
	</section>
</section>
{% endblock %}
