{% extends 'layouts/base.html' %} {% block content %}
<div class="d-flex align-items-center py-4 my-3 h-75">
	<div class="col-6 mx-auto">
		{% include 'includes/alert.html' %}

		<form
			method="POST"
			action="{{ url_for('reset_password') }}"
			class="py-4">
			<h1 class="fw-bold text-center">Reset Password</h1>

			<div class="mb-3 form-group">
				<label for="otp">OTP</label>
				<input
					type="text"
					class="form-control"
					id="otp"
					name="otp"
					aria-describedby="otpHelpBlock"
					required />
				<small
					id="otpHelpBlock"
					class="form-text text-muted">
					Your OTP must be 7 characters long, contain letters
					and numbers, and must not contain spaces, special
					characters, or emoji.
				</small>
			</div>

			<div class="mb-3 form-group">
				<label for="password">New password</label>
				<input
					type="password"
					class="form-control"
					id="password"
					name="new_pwd"
					aria-describedby="passwordHelpBlock"
					required />
				<small
					id="passwordHelpBlock"
					class="form-text text-muted">
					Your password must be 8-20 characters long, contain letters
					and numbers, and must not contain spaces, special
					characters, or emoji.
				</small>
			</div>

			<button
				type="submit"
				class="btn btn-primary">
				Submit
			</button>
		</form>
	</div>
</div>
{% endblock %}
